.kota {
  display: inline-block;
  position: fixed;
  height: 60px;
  width: 60px;
 top: calc(67% - 60px / 2);
  left: calc(6% - 60px / 2);
  border-radius: 50%;
  background: url(../../img/muchan_kasige1.jpg) center;
  border: 3px dotted rgb(255, 251, 0);
}
.kota-description1 {
font-size: 0.5rem;
position: fixed;
top: 61%;
left: calc(4%);
border-radius: 50%;
letter-spacing: 1em;
color:brown
}
.kota-description2 {
font-size: 0.5rem;
position: fixed;
top: 71%;
left: calc(1%);
border-radius: 50%;
letter-spacing: normal;
color:brown;
line-height: 1rem;
}


.muchan-logo {
  position: absolute;
  pointer-events: none;
  z-index: 100;
}

@media (prefers-reduced-motion: no-preference) {
  .muchan-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
