.App-header {
  height: 100%;
  width: 100vw;
  overflow: scroll;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  position: absolute;
  cursor: move;
  color: black;
  max-width: 215px;
  max-height: 215px;
  border-radius: 8px;
  overflow: scroll;
  outline: transparent;
  padding: 1em;
  margin: auto;
  user-select: none;
  animation: blurHighlight 0.75s ease-out 1;
  box-shadow: rgba(40, 41, 41, 0.3) 3px 3px 13px 4px;
  font-size: small;
}

button {
  font-size: 0.3rem;
  border-radius: 5px;
  color: rgb(124, 121, 121);
  border: transparent;
  cursor: pointer;
  background-color: #0e6163;
}

.button {
  position: fixed;
  top: 1px;
  right: 1px;
}

.input__wrapper {
  position: absolute;
  width: 40%;
  bottom: 12%;
  right: 3px;
  display: flex;
  align-items: baseline;
}

.input__wrapper > input {
  width: 80%;
  height: 20px;
  padding: 10px;
  margin-right: 3px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

@keyframes blurHighlight {
  from {
    box-shadow: 0px 0px 10px #f5eddc, 0px 0px 10px #f5eddc, 0px 0px 25px #f5eddc,
      0px 0px 25px #f5eddc, 0px 0px 25px #f5eddc, 0px 0px 25px #f5eddc,
      0px 0px 25px #f5eddc, 0px 0px 25px #f5eddc, 0px 0px 50px #f5eddc,
      0px 0px 50px #f5eddc, 0px 0px 50px #e6f704, 0px 0px 350px #e6f704,
      0px 10px 100px #e6f704, 0px 10px 100px #f5eddc, 0px 10px 100px #f5eddc,
      0px 10px 100px #f5eddc, 0px -10px 100px #f5eddc, 0px -10px 100px #f5eddc;
  }
}
